html {
  background: #001440;
  font-size: 16px;
  margin: 0;
  padding: 0;
  padding-bottom: 4vh; 
}

/* @font-face {
  font-family: 'Roboto Mono', monospace;
  src: url(fonts/roboto-mono-v12-latin-regular.woff2) format('woff2'),
       url(fonts/roboto-mono-v12-latin-regular.woff) format('woff'),
       url(fonts/roboto-mono-v12-latin-regular.ttf) format('truetype');
} */

/* @font-face {
  font-family: 'Glamour Absolute', regular;
  src: url(fonts/GlamourAbsolute_Regular.ttf) format("truetype");     
} */

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
  /* margin-top: 5vh; */
  /* font-family: Georgia, "Times New Roman", serif; */
  display: flex;
  color: #fdf2e0;
  font-family: 'Glamour Absolute', regular;
}

/*==============================
  NAVIGATION BAR
  ==============================*/
/* .space-left {
  width: 20%;
  flex-direction: column;
}

.nav-container {
  float: right;
  margin: 0 20% 0 2vw;
}

.nav-logo { */
  /* Scalable with min size of 22px. Used to be 26px. */
  /* font-size: calc(1.375rem + 0.2vw);
  margin-bottom: 5vh;
}

ul {
  padding: 0;
  margin: 0;
}

.nav-links li {
  list-style: none;
  padding: 1.5% 0 1.5% 0;
}

.nav-links-text {
  color: black;
  text-decoration: none;
  font-size: 0.875rem;
}

.nav-links-text:hover {
  font-weight: bold;
}

#current-page {
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
}

#current-page:hover {
  font-weight: normal;
}

.social {
  color: black;
  padding-top: 8%;
} */

/*==============================
MOBILE/BURGER CSS
===============================*/
/* .mobile-header {
  display: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease-in;
} */

/*==============================
  11s: HERO PICTURE
==============================*/
.main-container {
  width: 100%;
}

.title {
  font-size: 1.25rem;
  margin-bottom: 3%;  
}

.picture {
  width: 100%;
}

.picture img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

/*==============================
  11s: NAVIGATION
==============================*/

svg {
  fill: goldenrod;
  height: auto;
  max-width: 35vmin;
  transform-origin: center;
  width: 35%;
}

.menu-link {
  fill: purple;
  fill: #DF362D;
}

.catering-link {
  fill: yellow;
  fill: #FF4500;
}

.visit-link {
  fill: green;
  fill: #FF8300;
}

/* .title-test {
  float: right;
  font-size: 60px;
  }
  
  .title-test-menu {
  color: #DF362D;
  }
  
  .title-test-catering {
  color: #FF4500;
  }
  
  .title-test-visit {
  color: #FF8300;
  } */

/*==============================
  11s: CATERING
==============================*/

.catering {
  margin-top: 4%;
  text-align: justify;
  font-size: 1rem;
  /* Change me, use flex display etc. for laying out divs in catering && contact */
  /* float: right; */
  /* FlEX VS GRID */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.catering-picture {
  /* FlEX VS GRID */
  width: 55%;
  /* padding: 6% 1vw 0 0; */
}

/* .catering-picture img {
  width: 50%;
  max-width: 50%;
  height: 50%;
} */

.catering-text {
  /* FLEX VS GRID */
  width: 45%;
}

.catering-link {
  color: white;
}

.catering-link:hover {
  color: gray;
}

/* FlEX VS GRID */

.project-picture {
  max-width: 100%;
  display: block;
}

.project-picture:hover {
  opacity: 0.95;
}


/*==============================
  11s: CONTACT / VISIT
==============================*/

.contact {
  color: gray;
  font-family: 'Roboto Mono', monospace;
}

.branding {
  color: orchid;
  /* Change me, use flex display etc. for laying out divs in catering && contact */
  float: right;
}

/*==============================
  EMPTY SPACE ON THE RIGHT
==============================*/
/* .space-right {
  width: 20%;
} */

/*==============================
  RESPONSIVE DESIGN: TABLET
==============================*/
/* @media screen and (max-width: 992px) {
  html {
    font-size: 13px;
    overflow-x: hidden;
  }

  .container {
    width: 80%;
  }

  .space-left {
    width: 0%;
  }

  .main-container {
    width: 100%;
    margin: 1vh 2vh 2vh 2vh;
  }

  .space-right {
    display: none;
  }

  .mobile-header {
    display: flex;
    font-size: 1.625rem;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
  }

  .title {
    margin-top: 4%;
  } */

  /*==============================
  RESPONSIVE MOBILE/BURGER
==============================*/
  /* .burger {
    display: block;
  }

  .nav-logo {
    display: none;
  }

  .nav-links {
    position: fixed;
    right: 0px;
    height: 100%;
    top: 0;
    background-color: #a51f26;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    opacity: 0.95;
  }

  .nav-links li {
    opacity: 1;
  }

  .nav-links-text {
    font-size: 1.75rem;
    color: #fff9e5;
  }

  #current-page {
    border-bottom: 2px solid #fff9e5;
    padding-bottom: 1px;
  }

  .social {
    color: #fff9e5;
    padding: 2% 0 5vh 0;
    font-size: 1.75rem;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: #fff9e5;
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: #fff9e5;
  }
} */

/*==============================
  RESPONSIVE DESIGN: PHONE
==============================*/
/* @media screen and (max-width: 576px) {
  .container {
    width: 90%;
    margin-top: 4vh;
  }

  .main-container {
    margin: 0;
    padding: 0;
  }

  .title {
    text-align: center;
  }

  .picture {
    width: 84%;
    padding: 0 8% 0 8%;
  }

  .text {
    padding: 0 8% 0 8%;
  }
} */
