html {
  background: #001440;
  font-size: 16px;
  margin: 0;
  padding: 0;
  /* margin: 0 auto; */
  padding-bottom: 4vh; 
  background-image: url("../img/noise_v1_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  /* width: 100vw; */
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  /* width: 100vw; */
  max-width: 1750px;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 auto;
  /* margin-top: 5vh; */
  width: 100%;
  /* width: 100vw; */
  max-width: 1750px;
  /* max-width: 1500px; */
  display: flex;
  color: #fdf2e0;
  font-family: 'Glamour Absolute', regular;
  /* font-family: Georgia, "Times New Roman", serif; */
}

.main-container {
  width: 100%;
}

/*==============================
  11s: HERO PICTURE
==============================*/

.picture {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.picture img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.hero-button-arrow img {
  width: 7%;
  height: 7%;
  max-width: 100%;
  position: absolute;
  top: 75%;
  left: 88%;
  /* Originally 88(top) && 94(left) */
  transform: translate(-100%, -100%);
  opacity: 80%;
  /* border-radius: 50%;
  border: 5px solid; */
}

.bounce2 {
  animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

/*==============================
  11s: NAVIGATION
==============================*/

.balancing-element1 {
  width: 40%;
  margin: 0 -5% 3% 5%;   
}

/*==============================
  11s: CATERING
==============================*/

.catering {
  /* ? flex vs. grid vs. float ? */
  margin-top: 2.5%;
  width: 100%;
}

.catering-picture {
  display: flex;
  justify-content: flex-end;
  /* justify-items: end; */
  padding: 0 5% 0 0;
}

.catering-picture img {
  width: 85%;
  max-width: 100%;
  height: 100%;
  float: right;
}

.project-picture {
  max-width: 100%;
  display: block;
  cursor: zoom-in;
}

.project-picture:hover {
  transform: rotate(180deg);
  /* transform: skew(25deg, 25deg); */
  /* transform: scale(1.1); */
  /* opacity: 0.1; */
}

.catering-text {
  color: gray;
  font-family: 'Roboto Mono', monospace;
  width: 35%;
  text-align: justify;
  font-size: 1rem;
  padding: 4% 5% 3% 0;  
  float: right;
  /* border: 2px solid #fdf2e0;
  border-radius: 20px; */
}

#we-cater-text {
  color: #DF362D;
  font-size: 2rem;
}

#cater-text-highlights {
  color: #DF362D;
  font-size: 1.25rem;
  font-family: 'Glamour Absolute', regular;
}

#cater-text-highlights:hover {
  opacity: 60%;
}

#cater-text-highlights2 {
  color: #DF362D;
  font-size: 1.25rem;
  font-family: 'Glamour Absolute', regular;
}

/*==============================
  11s: CONTACT / VISIT
==============================*/

.footer {
  /* ? flex vs. grid vs. float ? */
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  /* flex-wrap: nowrap; */
}

.contact {
  color: gray;
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  width: 65%;
  padding: 0 5% 0 0;
} 

.social {
  color: gray;
  padding: 0.5% 0 1% 0;
  font-size: 1.625rem;
  /* font-size: 1.75rem; */
}

.empty-space {
  color: #DF362D;
  background-color: #DF362D;
  /* height: 1vh; */
}

.balancing-element2 {
  width: 35%;
  padding: 0 25% 0 0;
  margin: 0 5vw 0 -5vw;
  align-self: flex-start;
}

.branding-text {
  /* ? flex vs. grid vs. float ? */
  display: flex;
  justify-content: end;
  width: 100%;
}

.neon-text2 {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  padding: 5% 10% 0 7.5%;
  max-width: 100%;
  /* max-width: max-content; */
  /* opacity: 0.2; */
}

.line {
  width: 100vw;
}

.left, .right {
  width: 50vw;
  overflow: hidden;
  display: inline-block;
}

.left {
  color: orangered;
  transform: skew(0deg, -15deg);
}

.right {
  color: blue;
  transform: skew(0deg, 15deg);
}

.left .content {
  width: 100vw;
  text-align: center;
}

.right .content {
  width: 100vw;
  text-align: center;
  transform: translate(-50vw);
}

span {
  display: inline-block;
  font-family: 'Glamour Absolute', regular;
  font-size: 4.5rem;
  line-height: .8;
  transition: ease-out .6s;
  /* text-transform: uppercase; */
}

.links-text {
  width: 100%;
  text-align: right;
  color: orangered;
  font-size: 3rem;
  padding: 0 5% 3% 0;
  float: right;
}

/*==============================
  RESPONSIVE DESIGN: TABLET
==============================*/

/* @media screen and (max-width: 992px) {
  html {
    font-size: 13px;
    overflow-x: hidden;
  }

  .container {
    width: 80%;
  }

  .space-left {
    width: 0%;
  }

  .main-container {
    width: 100%;
    margin: 1vh 2vh 2vh 2vh;
  }

  .space-right {
    display: none;
  }

  .mobile-header {
    display: flex;
    font-size: 1.625rem;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
  }

  .title {
    margin-top: 4%;
  } 
} */

/*==============================
  RESPONSIVE DESIGN: PHONE
==============================*/

/* @media screen and (max-width: 576px) {
  .container {
    width: 90%;
    margin-top: 4vh;
  }

  .main-container {
    margin: 0;
    padding: 0;
  }

  .title {
    text-align: center;
  }

  .picture {
    width: 84%;
    padding: 0 8% 0 8%;
  }

  .text {
    padding: 0 8% 0 8%;
  }
} */

/*==============================
HTML LAYOUT TESTING ONLY
==============================*/
/*
* {
  border: 1px solid red;
  border: 1px solid blue;
  border: 1px solid teal;
} 
*/